.product-card {
  height: 400px;
  width: 300px;
  border: solid black 5px;
  margin: 10px;
  border-radius: .5em;
}

.title {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  border: solid black 1px;
}